.title-productlist {
  margin: 0 18rem;
  margin-bottom: 2rem;
}
.product-list {
  width: 75%;
}
.productitems {
  width: 100%;
}
.styled-table {
  width: 100%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 18px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
}
.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: center;
}

.styled-table th,
.styled-table td {
  padding: 12px 30px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
  text-align: center;
}
.btndel {
  border: none;
  background-color: transparent;

  font-size: medium;
}
.btnup {
  border: none;
  background-color: transparent;
  font-size: medium;
  margin-right: 11px;
}
