

.admin-dashboard{
    background-color: antiquewhite;
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: space-evenly;
}
.dashboard-body{
    background-color: aquamarine;
    width: 63%;
}