.homepage{
    margin: 1vw 15rem;
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
.card {
    height: 20vw;
    width: 20vw;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
  }
  .card:hover{
    cursor: pointer;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.9), 0 0px 10px 0 rgba(0, 0, 0, 0.19);
  }
  .card-img {
      background-color: white;
      height: 50%;
      width: 99%;
      border-radius: 10px;
  }
  .card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    padding: 0 2px;
  }
  .btncard {
    height: 2.5vw;
    width: 20vw;
    margin-top: 20px;
    border-radius: 10px;
    border: none;
  }
  .btncard:hover{
    background-color: #edede9;
  }
  